@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
body{
  background-color: white;
}
.icon-size {
  font-size: 1rem !important;
}
.containers{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.border{
  border: 1px solid silver;
}
.bor{
  border: 40px solid white;
}

.img{
  
  width: 100%;
  height: 350px;
  
  background-color: transparent;
}

.careerimg{
  width: 100%;
  position: fixed;
  top: 200;
  z-index: 1;

}

/* globals.css */
.btn-border {
  border: 1px solid #000; /* Black border, change the color or size as needed */
  border-radius: 5px;     /* Optional: adds rounded corners */
  padding: 5px 10px;      /* Optional: adds padding */
  transition: all 0.3s ease-in-out; /* Optional: smooth transition on hover */
}

.btn-border:hover {
  background-color: #f0f0f0; /* Optional: change background color on hover */
  border-color: #ff0000;      /* Optional: changes border color to red on hover */
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media (min-width: 1200px) {
  .navsec {
    max-width: 1200px;
    margin: 0 auto;
  }
}
